{{page-title "Add"}}
<form class="ui form" {{action "save" @model on="submit"}}>
  <Input class="ui input" required="required" @value={{@model.name}} placeholder="Votre nom"/>
  <Input class="ui input"  required="required" type="email" @value={{@model.email}} placeholder="Votre mail"/>
  <Input class="ui input" required="required" type="password" @value={{@model.password}} placeholder="Votre Mot de Passe"/>
  <button class="ui positive button" type="submit">Valider</button>
  <LinkTo class="ui button" @route="users">Annuler</LinkTo>
</form>
{{outlet}}